*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pagewrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.product-padre{
    flex-grow: 1;
    flex-wrap: wrap;
    
    position: relative;
    width: 100%;
    top: 11vh;
    z-index: 0;
    
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
    
.new-arrivals-title{
    font-weight: 600;
}

.card:hover{
    background-size: cover;
    border: none;
}

.card-img-top:hover{
    background-color: #777;
    opacity: 0.75;
}

.extra-info{
    flex-grow: 1;
    flex-wrap: wrap;
    
    position: relative;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    justify-items: center;
}

.owl-dots{
    display: none;
}

.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover{
    background: none !important;
    outline: none !important;
    opacity: 1;
}

.owl-carousel .nav-btn{
    position: absolute;
    cursor: pointer;
}
      
.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
pointer-events: none;
opacity: 0.2;
}

.owl-carousel .prev-slide{
    background: url(../img/prev-arrow.png) no-repeat scroll 0 0;
}

.owl-carousel .next-slide{
background: url(../img/next-arrow.png) no-repeat scroll -24px 0px;
}



@media (min-width: 820px){

    .cont-carousel{
        padding: 2% 2%;
    }

    .card{
        width: 77%;
        transform: translateX(17%);
    }


    /* .card:hover{
        background-image: url(../img/ropa/alt/remera2.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 2vw;

        max-width: 250px;
        width: 70%;
        -webkit-transform: scale(1.5);
        transform: scale(1.5); you can change the value also 
        -webkit-transform-origin: center;
        transform-origin: center;
    } */

    .card-img-top{
        width: 100%;
        -webkit-transform: scale(1.5);
        transform: scale(1.5); /* you can change the value also */
        -webkit-transform-origin: center;
        transform-origin: center;
    }

    .owl-nav .owl-prev, .owl-nav .owl-next{
        outline: none;
        opacity: 0.6;
        transition: all .5s ease;
    }

    .owl-nav{
        position: relative;
        top: -32.5vh;
        justify-content: center;
    }

    .owl-prev{
        position: absolute;
        left: 0.5vw;
    }

    .owl-next{
        position: absolute;
        right: 0;
    }

    button img {
        height: 10vh;
    }    

    .extra-info{
        top: 10vh;
        padding-left: 15%;
        padding-right: 12.5%;

        grid-column-gap: 5%;
        grid-row-gap: 10px;
        }

    .extra-info-item{
        position: relative;
        padding: 3em 0ex;
        width: fit-content;

    }

    .owl-carousel .nav-btn{
        height: 47px;
        width: 26px;
        top: 100px !important;
      }

}
